* {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    place-items: center;
}

.hero-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}